.departurecity,
.departurecitycode {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.departurecity {
  font-size: var(--font-size-base);
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 100px;
}
.point {
  width: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  border: 2px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  height: 10px;
}
.flightIconsChild {
  flex: 1;
  position: relative;
  border-top: 1px dashed var(--color-lightgray-100);
  box-sizing: border-box;
  height: 2px;
}
.ionairplaneIcon {
  height: 24px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.flightIcons {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.destinationcity,
.destinationcitycode {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.destinationcitycode {
  width: 51.3px;
  display: inline-block;
}
.destinationcity {
  font-size: var(--font-size-base);
  text-align: left;
}
.details1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 100px;
  text-align: right;
}
.departOnParent,
.flightMainContainer,
.toAndFrom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toAndFrom {
  align-self: stretch;
  justify-content: space-between;
}
.departOnParent,
.flightMainContainer {
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.flightMainContainer {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue-200);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1200px) {
  .flightMainContainer {
    width: 520px;
  }
}
@media screen and (max-width: 960px) {
  .flightMainContainer {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    flex: unset;
    align-self: stretch;
  }
}
