.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fillInYour,
.nameInput {
  align-self: stretch;
  font-family: var(--components-button-large);
}
.fillInYour {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 34px;
  color: var(--color-slategray);
  text-align: left;
}
.nameInput {
  border: 0;
  background-color: transparent;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.form,
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.form {
  margin: 0;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border-radius: var(--br-xs);
  background-color: var(--primary-contrast);
  border: 1px solid var(--color-whitesmoke);
  padding: var(--padding-11xl);
  gap: var(--gap-mid);
}
.formContainer,
.subscribeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer {
  width: 100%;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  left: auto !important;
}
.subscribeSection {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-26xl) var(--padding-xl);
  /* background-image: url(/public/subscribe-section@3x.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-200);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 960px) {
  .formContainer {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .formContainer {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
}
